// Base colors
$main-font-color: #2A2A2A;
$main-yellow: #FCB677;
$main-pink: #EF8C86;
$main-purple: #826782;
$main-blue: #05779E;
$border-color: #E8E6E6;
$page-background: #FAFAFA;

// Typography
$font-stack: 'Open Sans', sans-serif;
$font-header: 'Space Mono', monospace;