/* ---- Base Rules ---- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #FAFAFA;
  color: #2A2A2A;
  font-family: "Open Sans", sans-serif;
}

/* Typography */
h2,
h3 {
  font-family: "Space Mono", monospace;
  text-transform: lowercase;
  text-align: center;
}

a {
  text-decoration: none;
}

.hero__title {
  font-size: 4.5rem;
}

.hero__role {
  background: #EF8C86;
  padding: .2em .4em;
  margin-top: .8em;
  font-size: 1.56rem;
  letter-spacing: 2px;
}

/* ---- Layout Rules ---- */
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

/* Header and Footer Styles */
.page__header,
.page__footer,
#section1 {
  background: #FCB677;
}

/* Navbar Styles */
.nav {
  padding-top: 2em;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__container .logo {
  line-height: 16px;
  cursor: pointer;
}

.nav__container .logo__title {
  color: #2A2A2A;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3.7px;
  padding-bottom: 0;
}

.nav__container .logo__subtitle {
  color: #05779E;
  font-size: .64rem;
  font-family: "Space Mono", monospace;
}

.nav__container #nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__container #nav__list .nav__link {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 2em;
}

.nav__container #nav__list .nav__link a {
  color: #2A2A2A;
  cursor: pointer;
}

/* Hero Section */
#section1 {
  height: 100vh;
  font-family: "Space Mono", monospace;
}

#section1 .hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#section1 .hero__container .headline {
  margin: auto;
}

#section1 .scroll-down {
  display: block;
  position: absolute;
  bottom: 10px;
  -webkit-animation: bounce 2s ease infinite;
          animation: bounce 2s ease infinite;
}

#section1 .scroll-down a {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}

#section1 .scroll-down a i {
  text-shadow: 0px 3px 16px #272634;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* About Section */
/*# sourceMappingURL=style.css.map */