@import 'config';

/* ---- Base Rules ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $page-background;
    color: $main-font-color;
    font-family: $font-stack;

    a {
        text-decoration: none;
    }
}

/* ---- Layout Rules ---- */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
}

.page__header,
.page__footer,
#section1 {
    background: $main-yellow;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        line-height: 16px;
    }

    .logo__title {
        color: $main-font-color;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 3px;
        padding-bottom: 0;
    }

    .logo__subtitle {
        color: $main-blue;
        font-size: .64rem;
        font-family: $font-header;
    }

    #nav__list {
        display: flex;

        .nav__link {
            display: inline-block;
            text-transform: uppercase;
            padding-left: 2em;
            
            a {
                cursor: pointer;
            }
        }
    }
}